In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('spam_ham_dataset.csv')

In [3]:
df.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [4]:
df.shape

(5171, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [6]:
df_new = df.drop(['Unnamed: 0'],axis = 1)

In [7]:
df_new.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\r\nthis deal is t...          0

In [8]:
df_new.isnull()

      label   text  label_num
0     False  False      False
1     False  False      False
2     False  False      False
3     False  False      False
4     False  False      False
...     ...    ...        ...
5166  False  False      False
5167  False  False      False
5168  False  False      False
5169  False  False      False
5170  False  False      False

[5171 rows x 3 columns]

In [9]:
df_new.isnull().sum()

label        0
text         0
label_num    0
dtype: int64

In [10]:
df_new.shape

(5171, 3)

In [11]:
X = df_new['text']
Y = df_new['label_num']

In [12]:
print(X)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [13]:
print(Y)

0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_num, Length: 5171, dtype: int64

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, random_state = 3)

In [15]:
feature_extraction = TfidfVectorizer(min_df = 1,stop_words='english',lowercase=True)
x_train_features = feature_extraction.fit_transform(X_train)
x_test_features = feature_extraction.transform(X_test)

In [16]:
model = LogisticRegression()

In [17]:
model.fit(x_train_features,Y_train)

LogisticRegression()

In [18]:
prediction_on_training_data = model.predict(x_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [19]:
print('Accurarcy: ',accuracy_on_training_data)

Accurarcy:  0.9970986460348162

In [20]:
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [21]:
print('Accurarcy: ',accuracy_on_test_data)

Accurarcy:  0.9806763285024155

In [24]:
input_mail = ["Subject: neon retreat ho ho ho , we're around to that most wonderful time of the year - - - neon leaders retreat time i know that this time of year is extremely hectic , and that it ' s tough to think about anything past the holidays , but life does go on past the week of december 25 through january 1 , and that'swhat i'd like you to think about for a minute . on the calender that i handed out at the beginning of the fall semester , the retreat was scheduled for the weekend of january 5 - 6 . but because of a youth ministers conference that brad and dustin are connected with that week , we're going to change the date to the following weekend , january 12 - 13 now comes the part you need to think about i think we all agree that it ' s important for us to get together and have some time to recharge our batteries before we get to far into the spring semester , but it can be a lot of trouble and difficult for us to get away without kids , etc . so , brad came up with a potential alternative for how we can get together on that weekend , and then you can let me know which you prefer"]
input_data_features = feature_extraction.transform(input_mail)
prediction = model.predict(input_data_features)
print(prediction)

if (prediction[0] == 0):
    print("Its Ham mail")
else:
    print("Its Spam mail")

[0]
Its Ham mail